{% load static %}

<!DOCTYPE html>
<html>

<!-- Data tables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<!-- Data tables JavaScript -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<!-- Translation for Portuguese language -->
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json"></script>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Diário Escolar</title>
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- responsive style -->
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body>

  <style>
    body {
      background-color: #041858;
    }
  </style>
  <div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              Gerenciamento Escolar
            </span>
          </a>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url "index" %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "cadastroaluno" %}"> Cadastro de Alunos </a>
                </li>
              </ul>
            </div>
            <div class="quote_btn-container ">
              <a href="">
                <img src="images/call.png" alt="">
                <span>
                  Telefone : + 11 975273710
                </span>
              </a>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <style>
      #alunos thead tr {
        position: sticky;
        top: 0;
        background-color: #FFF;
      }
    </style>
    <div class="container">
      <table id="alunos" class="display" style="width:100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>CPF</th>
            <th>Nome Completo</th>
            <th>Data de Nascimento</th>
            <th>Rua</th>
            <th>Número</th>
            <th>Bairro</th>
            <th>Município</th>
            <th>Nome da Mãe</th>
            <th>Nome do Pai</th>
            <th>Ações</th>
          </tr>
        </thead>
      </table>
  
      <script>
        $(document).ready(function() {
          $('#alunos').DataTable({
            'ajax': '{% url "alunos_json" %}',
            'columns': [
            {'data': 'id_aluno'},
            {'data': 'cpf_aluno'},
            {'data': 'nomecompleto_aluno'},
            {'data': 'datadenascimento_aluno'},
            {'data': 'rua_aluno'},
            {'data': 'numero_aluno'},
            {'data': 'bairro_aluno'},
            {'data': 'municipio_aluno'},
            {'data': 'nomemae_aluno'},
            {'data': 'nomepai_aluno'},
            {
              'data': null,
              'render': function(data, type, row) {
                return '<button class="btn btn-danger btn-sm" onclick="excluirAluno(' + row.id_aluno + ')">Excluir</button>';
              }
            }
          ],
          
            'pageLength': 10,
            'lengthMenu': [10, 25, 50, 100],
            'language': {
              'url': 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese-Brasil.json'
            }
          });
        });
      
        function excluirAluno(id_aluno) {
          if (confirm('Tem certeza que deseja excluir esse registro?')) {
            $.ajax({
              url: '/excluir_aluno/' + id_aluno + '/',
              method: 'POST',
              data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
              },
              success: function(data) {
                $('#alunos').DataTable().ajax.reload();
              },
              error: function(xhr, status, error) {
                console.log(xhr.responseText);
              }
            });
          }
        }
    </script>
</body>
</html>

